/*
Couples Resort Responsive Build
4 column grid as per XD file
 */

/* 
    CSS Guide 

    1.  General Styles
    2.  Main Nav
    3.  Main Hero Image
    4.  Main Hero Image Contact
    5.  Why Couples Resort
    6.  About & FAQ
    7.  Contact Form
    8.  Footer 
 */

 /*Index page*/

 /* 1. ---General Styles--- */

 #mobile-outline {
    outline: 20px solid #333;
    max-width: 412px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
} 
 
 body {
    color: #5F5F5F;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 
 a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}
 
 input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}
 
 .cr-red {
    color: #9a2018;
}
 
 /* 2. ---Main Nav--- */
 
 #main-nav label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px; 
} 
 
 #main-nav input, #burger-con {
    display: none;
}
 
 /*   ~ sibling selector   */
 
 
 #main-nav input:checked ~ #burger-con {
    display: block;
}
 
 #main-nav input:checked ~ label img {
    transform: rotate(90deg);
}
 
 #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
 
 #main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #626262;
}
 
 #main-nav ul li {
    border-bottom: 1px solid #efefef;
}
 
 #main-nav ul li:first-child {
    border-top: 1px solid #efefef;
}
 
 #main-nav ul li:last-child {
    margin-bottom: 10px;
}
 
 
 #logo {
    margin-bottom: 20px;
    max-width: 382px;
}

 /* 3. ---Main Hero Image--- */
 
 #hero {
    background: url(../images/hero-main.jpg) no-repeat;
    height: 200px;
}
 
 .book-now {
    background-color: #9a2018;
    color: #fff;
    font-size: 16px;
    transition: background-color 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition:all 0.3s ease;
    cursor: pointer;
}
 
 .book-now:hover {
    background-color: #3B3B3B;
}
 
 #book-now-hero {
    height: 67px;
}
 
 #hero-heading-box {
    align-self: end;
}
 
 .hero-img-h2, .hero-img-h3 {
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 14px;
}
 
 .hero-img-h2 span,  .hero-img-h3 span {
    color: #9a2018;
    font-size: 12px;
}
 
 .line-separator {
    margin-top: 20px;
    border-top: solid 3px #CF6666;
    padding-top: 20px;
}
 
 #hero-summary p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
}
 
 /* 4. ---Main Hero Image Contact--- */
 
 .fas {
    font-size: 42px;
    color: #9a2018;
    margin: 0 auto;
    float: left;
}
 
 .fa-mobile-alt {
    margin-right: 10px;
    margin-left: 3px;
    margin-bottom: 20px;
}
 
 .fa-map-marker-alt {
    margin-right: 10px;
}
 
 #contact {
    font-size: 11px;
    background-color: #efefef;
    padding-top: 30px;
    padding-bottom: 30px;
}
 
 /* 5. ---Why Choose Us--- */
 
 #why-choose-us-nav {
    padding-top: 20px;
 }
 
 #why-choose-us-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }
 #why-choose-us-nav ul li {
    margin-bottom: 15px;
 }
 
 #why-choose-us-nav ul li a {
   color: inherit;
   padding: 5px;
 }
 
 #why-choose-us-nav ul li a.selected {
    border-left: #9a2018 solid 5px;
  }
 
 
 #why-choose-us-hero-con {
   background: url(../images/why-choose-us-hero.jpg) no-repeat;
   height: 195px;
 }
 
 #why-choose-us-heading-box {
   align-self: end;
 }
 
 .why-choose-us-image {
    float: left;
    margin-right: 20px;
    margin-top: 30px;
 }
 
 .why-choose-us-image-con h2 {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 30px;
 }
 
 .why-choose-us-image-con p {
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 20px;
 }
 
 .why-choose-us-image-con a {
    color: #707070;
    font-size: 12px;
 }
 
 #why-choose-us-bottom-nav {
    background-color: #CF6666;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
 }
 
 #why-choose-us-bottom-nav ol {
    list-style-type: none;
    margin: 0 0 0 20px;
    padding: 0;
 }
 
 #why-choose-us-bottom-nav ol li {
    display: inline;
 }
 
 #why-choose-us-bottom-nav ol li a {
    padding: 5px;
    color: #fff;
 }
 
 
 /* 6. ---About & FAQ--- */
 
 #about-hero-con {
    background: url(../images/about-us-hero.jpg) no-repeat;
    height: 195px;
 }
 
 #about-hero-heading-box {
    align-self: end;
 }
 
 #about-us-text {
    padding-bottom: 60px;
 }
 
 #about-us-text p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 22px;
 }
 
 #about-us-text-column2 {
    font-style: italic;
 }
 
 #faq-con {
    background-color: #f4f4f4;
    padding-top: 35px;
    padding-bottom: 30px;
 }
 
 #faq-con h2 {
    font-size: 24px;
    margin-bottom: 20px;
 }
 
 #faq-con h2 span {
    color: #9a2018;
    font-size: 16px;
 }
 
 .faq-items {
    margin-bottom: 16px;
 }
 
 .faq-items h3 {
    background: #e8e7e7;
    padding: 16px;
    font-size: 16px;
 }
 
 .faq-items ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
 }
 
 .faq-items li {
    padding: 8px 0;
    border-bottom: 1px solid #9a2018;
 }   
 
 .faq-items a {
    color: inherit;
    font-size: 13px;
 }
 
 #faq-text-con {
    margin-top: 20px;
    margin-bottom: 20px;
 }
 
 /* 7. ---Contact--- */
 
 #contact-hero-con {
    background: url(../images/contact-hero.jpg);
    height: 195px;
 }
 
 #contact-hero-heading-box {
    align-self: end;
 }
 
 #contact-hero-text {
    margin-top: 15px;
    margin-bottom: 25px;
 }
 
 #contact-hero-address p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
 }
 
 #contact-hero-address {
    margin-bottom: 30px;
 }
 
 #contact-hero-address h3 {
    margin-bottom: 25px;
 }
 
 #contact-hero-form form {
    display: flex;
    flex-direction: column;
 }
 
 #contact-hero-form input, textarea {
    padding: 22px;
    border: 2px solid #d6d6d6;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 30px;
       font: inherit;
    width: auto;
 }
 
 #contact-hero-form textarea {
    height: 250px;
 }
 
 #contact-hero-form input[type="submit"] {
    padding: 12px 28px;
    background: #9a2018;
    color: #fff;
    border: none;
    transition: all 200ms ease-in;
    width: 150px;
    align-self: flex-end;
 }
 
 #contact-hero-form input[type="submit"]:hover {
    background-color: #626262;
    border-radius: 0;
 }
 
 
 /* 8. ---Footer--- */
 
 #footer-hero {
    background-image: url(../images/footer.jpg);
     background-repeat: no-repeat;
    color: #fff;
    font-size: 12px;
    margin-top: 40px;
    padding-bottom: 80px;
 }
 
 #footer-hero h3 {
    margin-top: 30px;
    font-size: 28px;
    margin-bottom: 16px;
 }
 
 #footer-privacy .line-seperator {
    margin-top: 0px;
 }
 
 #footer-contact-info h3 {
    font-size: 23px;
 }
 
 #footer-contact-info p {
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 11px;
 }


/*dining page*/

 /*main-hero*/

 #dining-hero {
   background-image: url(../images/Dinning-hero.jpg);
   height: 230px;
}

.book-now {
   background-color: #9a2018;
   color: #fff;
   font-size: 16px;
   transition: background-color 500ms linear;
   display: flex;
   justify-content: center;
   align-items: center;
   font-style: italic;
   transition:all 0.3s ease;
   cursor: pointer;
}

.book-now:hover {
   background-color: #3B3B3B;
}

#book-now-hero {
   height: 67px;
}

#hero-heading-box-dining {
   align-self: end;
   background-color: white;
}

#hero-heading-box-dining h2 span {
   color: #9a2018;
   font-size: 12px;
}

#hero-heading-box-dining h2 {
   font-size: 14px;
   padding: 10px 15px;
}

.line-separator {
   margin-top: 20px;
   border-top: solid 3px #CF6666;
   padding-top: 20px;
}

#dining-summary p {
   font-size: 14px;
   line-height: 15px;
   margin-bottom: 10px;
}

#dining-summary span {
   font-weight: bold;
}

/*dropdown-extension*/

.dropdown1 label img, .dropdown2 label img, .dropdown3 label img, .dropdown4 label img, .dropdown5 label img, .dropdown6 label img, .dropdown7 label img, .dropdown8 label img {
   width: 10px;
   height: 10px;
   margin-top: 15px;
   cursor: pointer;
   transition: all .5s ease;
}

.dropdown1 input, .dropdown2 input, .dropdown3 input, .dropdown4 input, .dropdown5 input, .dropdown6 input, .dropdown7 input, .dropdown8 input {
   display: none;
}

label span {
   color: #C54242;
}

#dropdown-detail-1,  #dropdown-detail-2,  #dropdown-detail-3,  #dropdown-detail-4,  #dropdown-detail-5,  #dropdown-detail-6,  #dropdown-detail-7,  #dropdown-detail-8 {
   display: none;
}

.dropdown1 input:checked ~ #dropdown-detail-1 {
   display: block;
}

.dropdown2 input:checked ~ #dropdown-detail-2 {
   display: block;
}

.dropdown3 input:checked ~ #dropdown-detail-3 {
   display: block;
}

.dropdown4 input:checked ~ #dropdown-detail-4 {
   display: block;
}

.dropdown5 input:checked ~ #dropdown-detail-5 {
   display: block;
}

.dropdown6 input:checked ~ #dropdown-detail-6 {
   display: block;
}

.dropdown7 input:checked ~ #dropdown-detail-7 {
   display: block;
}

.dropdown8 input:checked ~ #dropdown-detail-8 {
   display: block;
}

.dropdown1 input:checked ~ label img {
   transform: rotate(90deg);
}

.dropdown2 input:checked ~ label img {
   transform: rotate(90deg);
}

.dropdown3 input:checked ~ label img {
   transform: rotate(90deg);
}

.dropdown4 input:checked ~ label img {
   transform: rotate(90deg);
}

.dropdown5 input:checked ~ label img {
   transform: rotate(90deg);
}

.dropdown6 input:checked ~ label img {
   transform: rotate(90deg);
}

.dropdown7 input:checked ~ label img {
   transform: rotate(90deg);
}

.dropdown8 input:checked ~ label img {
   transform: rotate(90deg);
}

/*dropdown styling*/

.dropdown1, .dropdown2, .dropdown3, .dropdown4, .dropdown5, .dropdown6, .dropdown7, .dropdown8 {
   border-bottom: #CBCBCB solid;
   /*border-left: #CBCBCB solid;
   border-right: #CBCBCB solid;*/
   padding: 5px 0;
   justify-content: center;
   font-size: 15px;
}

#dropdown-detail-1,  #dropdown-detail-2,  #dropdown-detail-3,  #dropdown-detail-4,  #dropdown-detail-5,  #dropdown-detail-6,  #dropdown-detail-7,  #dropdown-detail-8 {
   font-size: 12px;
   padding: 5px 0;
}

#dropdown-detail-1 ul, #dropdown-detail-2 ul, #dropdown-detail-3 ul, #dropdown-detail-4 ul, #dropdown-detail-5 ul, #dropdown-detail-6 ul, #dropdown-detail-7 ul, #dropdown-detail-8 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 361px;
  padding: 10px 15px;
}

#dropdown-detail-1 span, #dropdown-detail-2 span, #dropdown-detail-3 span, #dropdown-detail-4 span, #dropdown-detail-5 span, #dropdown-detail-6 span, #dropdown-detail-7 span, #dropdown-detail-8 span {
   font-weight: bold;
}

/*reward*/

#gourmet-heading-box {
   background-image: url(../images/wine-hero.jpg);
   height: 280px;
}

#wine-reward img {
   width: 91px;
   height: 168px;
   float: left;
}

#gourmet-con {
   background-color: #fff;
   align-self: end;
   padding: 10px 15px;
}

#gourmet-con h2 {
   font-size: 14px;
}

#gourmet-con span {
   color: #9a2018;
   font-size: 11px;
}

.wine-h1 p, .wine-h2 p {
   font-size: 12px;
   line-height: 18px;
}

.wine-h1 h3, .wine-h2 h3 {
   font-size: 11px;
   padding-bottom: 10px;
}

.wine-h2 {
   padding-top: 10px;
   padding-bottom: 10px;
}


/*scroll-images*/

#scoll-images {
   overflow: auto;
   white-space: nowrap;
}

/*Spa Page */

 /*main-hero*/

 #spa-page-hero {
   background-image: url(../images/spa-hero.jpg);
   height: 230px;
}

.book-now {
   background-color: #9a2018;
   color: #fff;
   font-size: 16px;
   transition: background-color 500ms linear;
   display: flex;
   justify-content: center;
   align-items: center;
   font-style: italic;
   transition:all 0.3s ease;
   cursor: pointer;
}

.book-now:hover {
   background-color: #3B3B3B;
}

#book-now-hero {
   height: 67px;
}

#hero-heading-box {
   align-self: end;
   background-color: white;
}

#hero-heading-box h2 span {
   color: #9a2018;
   font-size: 12px;
}

#hero-heading-box h2 {
   font-size: 14px;
   padding: 10px 15px;
}

.line-separator {
   margin-top: 20px;
   border-top: solid 3px #CF6666;
   padding-top: 20px;
}

#dining-summary p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

#dining-summary span {
   font-weight: bold;
}

/*main-hero*/

#hero {
   background-image: url(../images/spa-hero.jpg);
   height: 230px;
}

.book-now {
   background-color: #9a2018;
   color: #fff;
   font-size: 16px;
   transition: background-color 500ms linear;
   display: flex;
   justify-content: center;
   align-items: center;
   font-style: italic;
   transition:all 0.3s ease;
   cursor: pointer;
}

.book-now:hover {
   background-color: #3B3B3B;
}

#book-now-hero {
   height: 67px;
}

#hero-heading-box {
   align-self: end;
   background-color: white;
}

#hero-heading-box h2 span {
   color: #9a2018;
   font-size: 12px;
}

#hero-heading-box h2 {
   font-size: 14px;
   padding: 10px 15px;
}

/*dropdown-extension*/

.dropdown9 label img {
   width: 10px;
   height: 10px;
   margin-top: 15px;
   cursor: pointer;
   transition: all .5s ease;
}

.dropdown10 label img, .dropdown11 label img, .dropdown12 label img, .dropdown13 label img, .dropdown14 label img, .dropdown15 label img, .dropdown16 label img {
   width: 10px;
   height: 10px;
   margin-top: 15px;
   cursor: pointer;
   transition: all .5s ease;
}

.dropdown9 input, .dropdown10 input, .dropdown11 input, .dropdown12 input, .dropdown13 input, .dropdown14 input, .dropdown15 input, .dropdown16 input {
   display: none;
}

label span {
   color: #C54242;
}

#dropdown-detail-9,  #dropdown-detail-10,  #dropdown-detail-11,  #dropdown-detail-12,  #dropdown-detail-13,  #dropdown-detail-14,  #dropdown-detail-15,  #dropdown-detail-16 {
   display: none;
}

.dropdown9 input:checked ~ #dropdown-detail-9 {
   display: block;
}

.dropdown10 input:checked ~ #dropdown-detail-10 {
   display: block;
}

.dropdown11 input:checked ~ #dropdown-detail-11 {
   display: block;
}

.dropdown12 input:checked ~ #dropdown-detail-12 {
   display: block;
}

.dropdown13 input:checked ~ #dropdown-detail-13 {
   display: block;
}

.dropdown14 input:checked ~ #dropdown-detail-14 {
   display: block;
}

.dropdown15 input:checked ~ #dropdown-detail-15 {
   display: block;
}

.dropdown16 input:checked ~ #dropdown-detail-16 {
   display: block;
}

.dropdown9 input:checked ~ label img {
   transform: rotate(90deg);
}

.dropdown10 input:checked ~ label img {
   transform: rotate(90deg);
}

.dropdown11 input:checked ~ label img {
   transform: rotate(90deg);
}

.dropdown12 input:checked ~ label img {
   transform: rotate(90deg);
}

.dropdown13 input:checked ~ label img {
   transform: rotate(90deg);
}

.dropdown14 input:checked ~ label img {
   transform: rotate(90deg);
}

.dropdown15 input:checked ~ label img {
   transform: rotate(90deg);
}

.dropdown16 input:checked ~ label img {
   transform: rotate(90deg);
}

.dropdown16, .dropdown8 {
   margin-bottom: 10px;
}

/*dropdown styling*/

.dropdown9, .dropdown10, .dropdown11, .dropdown12, .dropdown13, .dropdown14, .dropdown15, .dropdown16 {
   border-bottom: #CBCBCB solid;
   /*border-left: #CBCBCB solid;
   border-right: #CBCBCB solid;*/
   padding: 5px 0;
   justify-content: center;
   font-size: 15px;
}

#dropdown-detail-9,  #dropdown-detail-10,  #dropdown-detail-11,  #dropdown-detail-12,  #dropdown-detail-13,  #dropdown-detail-14,  #dropdown-detail-15,  #dropdown-detail-16 {
   font-size: 12px;
   padding: 0;
}

#dropdown-detail-9 ul, #dropdown-detail-10 ul, #dropdown-detail-11 ul, #dropdown-detail-12 ul, #dropdown-detail-13 ul, #dropdown-detail-14 ul, #dropdown-detail-15 ul, #dropdown-detail-16 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 361px;
  padding: 15px 5px;
}

#dropdown-detail-9 span, #dropdown-detail-10 span, #dropdown-detail-11 span, #dropdown-detail-12 span, #dropdown-detail-13 span, #dropdown-detail-14 span, #dropdown-detail-15 span, #dropdown-detail-16 span {
   font-weight: bold;
}

/*policy*/

#policy-heading-box {
   background-image: url(../images/policy.jpg);
   height: 217px;
}

#policy-box {
   align-self: end;
   background-color: #fff;
}

#policy-box span {
   color: #9a2018;
   font-size: 12px;
}

#policy-box h2 {
   font-size: 14px;
   padding: 10px 15px;
}

#policy-summary p {
   font-size: 12px;
   line-height: 15px;
}

/*Unforeseen Circumstances*/

#unforseen {
   padding: 10px 0;
}

#unforseen h3 {
   font-size: 14px;
}

#unforseen-heading-box {
   border-left: 5px #992119 solid;
   padding: 5px;
}

#unforseen p {
   font-size: 12px;
   padding-top: 10px;
   line-height: 15px;
}

#unforseen span {
   font-style: italic;
   font-weight: bold;
}

/*Winning Reward*/

#winning-reward-heading {
   background-image: url(../images/reward.jpg);
   height: 217px;
}

#winning-reward-box {
   align-self: end;
   background-color: #fff;
}

#winning-reward-box span {
   color: #9a2018;
   font-size: 12px;
}

#winning-reward-box h2 {
   font-size: 14px;
   padding: 10px 15px;
}

#winning-reward-summary {
   font-size: 12px;
   line-height: 15px;
}

#winning-reward-summary2 {
   font-size: 12px;
   margin-left: 25%;
   width: 200px;
   padding-top: 10px;
   line-height: 15px;
}

#article-link p {
   font-size: 11px;
   justify-content: center;
}

#article-link {
   padding-bottom: 10px;
}

#reward-logo img {
   width: 180px;
   height: 203px;
   padding-top: 20%;
}

/*Spa product*/

#spa-product-heading {
   background-image: url(../images/skincare.jpg);
   height: 217px;
}

#spa-product-box {
   align-self: end;
   background-color: #fff;
}

#spa-product-box h2 {
   font-size: 14px;
   padding: 10px 15px;
}

#spa-product-box span {
   color: #9a2018;
   font-size: 12px;
}

#spa-product-summary p {
   font-size: 12px;
   line-height: 14px;
}

#spa-product-topic p {
   font-size: 12px;
   font-weight: bold;
}

#spa-product-topic {
   padding-bottom: 10px;
}

#brand-logo img {
   width: 131px;
   display: flex;
}

#brand-intro {
   padding: 15px 0 0 15px;
   width: 260px;
}
